<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
    <link rel="stylesheet" href="marginCallNotif.css"
          type="text/css" media="screen,print">
</head>
<body style="width: 750;">

<span class="normal">Dear all, <br>
Due to Bank Holiday, BANCO SANTANDER SA collateral team is out of office on |DATE|. <br>
No margin calls will be issued or answered, so we will be back on next business day.<br></span>

<br><br>

<!--calypso>include "NotificationSign.html";</calypso-->

</body>
</html>