<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
    <link rel="stylesheet" href="marginCallNotif.css"
          type="text/css" media="screen,print">
</head>
<body style="width: 750;">

<p class="normal">Buenos dias/Buenas tardes.</p>

<p class="normal">Por favor, solicitamos el traspaso desde la cuenta de valores de SCF en Banco Santander (Suc. 5199)
    a la cuenta de valores de SCF en <b>|CSD_CUSTODIAN_PLEDGE|</b>, para pignorar despues a favor del Banco Central Europeo, los siguientes valores:</p>

<p class="normal"><b>|DESCRIPTION|</b> <b>|ISIN|</b> por el importe nominal de <b>|TRADE_CURRENCY|</b> <b>|TRADE_NOMINAL|</b>.</p>

<p class="normal">Trade date: <b>|TRADE_DATE|</b>.</p>

<!--calypso>include "ECMSNotificationSign.html";</calypso-->

</body>
</html>