<!--calypso>

if (|CONTRACT_TYPE| == "CGAR") 
inline "
	<div class='footer'>
		<span class='footer'>Esta informaci&oacute;n es confidencial, 
			est&aacute; prohibido el uso no autorizado. Por favor, destr&uacute;yalo 
			si no es usted el destinatario.</span> 
	</div>
	<div class='pageCounter'>
		<span class='footer'> P&aacute;gina <span id='pagenumber' /> de <span id='pagecount' /></span> 
	</div>
";
else inline "
	<div class='footer'>
		<span class='footer'>This information is confidential,
			unauthorised use is forbidden. Please destroy if you are not the
			addressee.</span> 
	</div>
	<div class='pageCounter'>
		<span class='footer'> Page <span id='pagenumber' /> of <span id='pagecount' /></span> 
	</div>
";

</calypso-->




