<div class="header" style="margin-top: 25px;">
    |LOGO|
</div>
<span class="tiny">|DATE|</span>
<div class="title">
    <b>|TITLE|</b>
</div>
<br>
<table width="700px" border="0" style="font-family: SansSerif; font-size: 9pt;">
    <tr style="line-height: 12pt;">
        <td style="width: 40px;"><b>FROM: </b>|SENDER_FULL_NAME|</td>
    </tr>
    <tr style="line-height: 12pt;">
        <td style="width: 35px;"><b>Phone: </b>|SENDER_PHONE|&nbsp;&nbsp;&nbsp;<b> Fax: </b>|SENDER_FAX|&nbsp;&nbsp;&nbsp;<b>E-Mail: </b>|NOTIF_FROM_EMAIL|</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr style="line-height: 12pt;">
        <td style="width: 40px;"><b>TO: </b>|RECEIVER_FULL_NAME|</td>
    </tr>
    <tr style="line-height: 12pt;">
        <td style="width: 35px;"><b>Phone:</b>|RECEIVER_PHONE|&nbsp;&nbsp;&nbsp;<b> Fax: </b>|RECEIVER_FAX|&nbsp;&nbsp;&nbsp;<b>E-Mail: </b>|RECEIVER_EMAIL|</td>
    </tr>
</table>
