<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
<link rel="stylesheet" href="marginCallNotif.css"
	type="text/css" media="screen,print">
</head>
<body style="width: 750;">
	<!--calypso>include "header.htm";</calypso-->
	<!--calypso>include "footer.htm";</calypso-->
<span class="normal"> Dear Sirs,<br><br> 
Pursuant to the |CONTRACT_TYPE| and its collateral related provisions dated as of |CONTRACT_OPENDATE|, (the "Agreement") between |SENDER_FULL_NAME| and |RECEIVER_FULL_NAME| ("Counterparty") as amended from time to time, 
please be advised that as of the Valuation Time on |MC_DATE| the Exposure exceeds the agreed threshold level by the sum of |CONTRACT_CURRENCY| |GLOBAL_REQUIRED_MARGIN|.
</span>
	<br><br>
	<table width="750" border="0" cellpadding="0" cellspacing="0">
		<tbody style="font-family: SansSerif; font-size: 9pt; line-height: 12pt;">
			<tr class="interRow">
				<td />
				<td />
			</tr>
			<tr>
				<td />
				<td style="text-align: right;"><b>All Figures In
						|CONTRACT_CURRENCY|</b>
				</td>
			</tr>
			<tr class="interRow">
				<td />
				<td />
			</tr>
			<tr>
				<td><b>Exposure</b>
				</td>
				<td style="text-align: right;"><b>|NET_BALANCE|</b>
				</td>
			</tr>
			<tr>
				<td>Independent Amount(s)</td>
				<td style="text-align: right;">|INDP_AMOUNT|</td>
			</tr>
			<tr>
				<td>Threshold</td>
				<td style="text-align: right;">|THRESHOLD_AMOUNT|</td>
			</tr>
			<tr>
				<td><b>Credit Support Amount</b></td>
				<td style="text-align: right;"><b>|MARGIN_REQUIRED|</b>
				</td>
			</tr>
			<tr class="interRow">
				<td />
				<td />
			</tr>
			<tr>
				<td>After Haircut Value of Collateral Held/(Pledged) - Cash</td>
				<td style="text-align: right;">|PREVIOUS_CASH_MARGIN|</td>
			</tr>
			<tr>
				<td>After Haircut Value of Collateral Held/(Pledged) -
					Securities</td>
				<td style="text-align: right;">|PREVIOUS_SECURITY_MARGIN|</td>
			</tr>
			<tr>
				<td>After Haircut Value of Collateral Pending - Cash</td>
				<td style="text-align: right;">|PREVIOUS_PEND_CASH_MARGIN|</td>
			</tr>
			<tr>
				<td>After Haircut Value of Collateral Pending - Securities</td>
				<td style="text-align: right;">|PREVIOUS_PEND_SECURITY_MARGIN|</td>
			</tr>
			<tr>
				<td>Accrued Interest</td>
				<td style="text-align: right;">|ACCRUED_INTEREST|</td>
			</tr>
			<tr>
				<td>After Haircut Value of Outstanding Substitution
					Transactions</td>
				<td style="text-align: right;">|OUTSTANDING_SUBSTIT_TRANSACT|</td>
			</tr>
			<tr class="interRow">
				<td />
				<td />
			</tr>
			<tr>
				<td><b>Exposure excess amount</b>.</td>
				<td style="text-align: right;"><b>|GLOBAL_REQUIRED_MARGIN|</b>
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<span class="normal"> 
	Should you have any questions please do
		not hesitate to contact us.</br> Kind Regards, </span>
</body>
</html>
