<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
<link rel="stylesheet" href="marginCallNotif.css"
	type="text/css" media="screen,print">
</head>
<body style="width: 750;">
	<!--calypso>include "header.htm";</calypso-->
	<!--calypso>include "footer.htm";</calypso-->
	<span class="normal">Dear Sirs,<br><br> Pursuant to the |CONTRACT_TYPE| and its collateral related provisions dated as of |CONTRACT_OPENDATE|, (the "Agreement") 
between |SENDER_FULL_NAME| and |RECEIVER_FULL_NAME| ("Counterparty") as amended from time to time, 
|SENDER_FULL_NAME| would like to request from |RECEIVER_FULL_NAME| the following substitution.</span>
	<br>
	<br>
	<br> |REQUEST_SUBSTITUTION_ALLOCATIONS|
	<br>
	<p>
		<span class="normal">
		
	Please confirm receipt of this notification and contact us to confirm your agreement to the above request, in accordance to the terms of the Agreement.
		<br>
		<br>
		Should you have any questions please do
			not hesitate to contact us.</br> Kind Regards,</span>
	</p>
	<br>
	<span class="small"><b>|SENDER_FULL_NAME| SETTLEMENT INSTRUCTIONS</b></span>
	|SETTLEMENT_INSTRUCTIONS|
	<br>
</body>
</html>
