<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
<link rel="stylesheet" href="marginCallNotif.css"
	type="text/css" media="screen,print">
</head>
<body style="width: 750;">
	<!--calypso>include "header.htm";</calypso-->
	<!--calypso>include "footer.htm";</calypso-->
	<span class="normal">Dear Sirs,<br> <br> 
Pursuant to the |CONTRACT_TYPE| and its collateral related provisions dated as of |CONTRACT_OPENDATE|, (the "Agreement") 
between |SENDER_FULL_NAME| and |RECEIVER_FULL_NAME| ("Counterparty") as amended from time to time, 
we hereby confirm the following movement(s) in connection with the corresponding Substitution Request Notification.
	</span>
	<br>
	<br>
	<br> |SUBSTITUTION_ALLOCATIONS|
	<br>
	<p>
		<span class="normal">Should you have any questions please do
			not hesitate to contact us.</br> Kind Regards,</span>
	</p>
	<br>
	<span class="smaller"><b>|SENDER_FULL_NAME| SETTLEMENT INSTRUCTIONS</b></span>
	|SETTLEMENT_INSTRUCTIONS|
	<br>
</body>
</html>
