<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="marginCallNotif.css" type="text/css" media="screen,print">
</head>
<body style="width: 750;">
	<!--calypso>include "header.htm";</calypso-->
	<!--calypso>include "footer.htm";</calypso-->
			<span class="normal">
		
|POLITE|<br> <br>  
Pursuant to the |CONTRACT_TYPE| and its collateral related provisions dated as of |CONTRACT_OPENDATE|, (the "Agreement") between |SENDER_FULL_NAME| and |RECEIVER_FULL_NAME| ("Counterparty") as amended from time to time, in order to avoid disputed margin calls, uncertainty to credit exposure and difficulties in agreeing termination values, and in accordance with the Master Securities Forward Transaction Agreement, |SENDER_FULL_NAME| would like to perform a periodic portfolio and mark to market reconciliation of the Transactions governed by the Agreement. The main objectives are: ensure that we both agree on the mark to market value of the Transactions, and identify possible different valuation methodologies, or mismatches in the inputs used for our valuation processes<br> <br> 
In order to aim our goal, |SENDER_FULL_NAME| will be sending the above mentioned data on a weekly basis each Monday. Please find attached this week&acute;s portfolio. We would appreciate if, from now on, you could also send us your portfolio on a weekly basis every Monday, as of Friday&acute;s COB in Excel format.<br> <br>  
In the event that this wasn&acute;t possible for you, due to either technical issues or because |SENDER_FULL_NAME| was the Designated Valuation Agent, please confirm your agreement with our marks and the number of trades as well as their economic details contained in the attached file.<br> <br> 
Thanks and regards,<br> <br> 			
</span>
</body>
</html>