<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
<link rel="stylesheet" href="marginCallNotif.css" type="text/css" media="screen,print">
</head>
<body style="width: 750;">
	<!--calypso>include "header.htm";</calypso-->
	<!--calypso>include "footer.htm";</calypso-->
			<span class="normal">Dear Sirs,</br> </br>
			Pursuant to the |CONTRACT_TYPE| and its collateral related provisions dated as of |CONTRACT_OPENDATE|, 
(the "Agreement") between |SENDER_FULL_NAME| and |RECEIVER_FULL_NAME| ("Counterparty") as amended from time to time,  
please find the |SENDER_FULL_NAME| portfolio containing the valuation of the trades governed by the Agreement.
<br><br>
Please note that the calculations and the potential determinations made on early termination of the trades may differ. 
<br><br>
Should you have any questions please do not hesitate to contact us.
<br><br>
Kind Regards,</span>
</body>
</html>
