<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
    <link rel="stylesheet" href="marginCallNotif.css"
          type="text/css" media="screen,print">
</head>
<body style="width: 750;">

<span class="normal">Hi All, <br><br> Please note |SENDER_FULL_NAME| sees no movement for you call with |RECEIVER_FULL_NAME| with following details: </span>

<br>
<br>
<table class="noBorderTable">
    <tr>
        <td>MTM:</td>
        <td>|NET_BALANCE|</td>
    </tr>
    <tr>
        <td>Collateral Balance:</td>
        <td>|TOTAL_PREV_MRG|</td>
    </tr>
</table>

<br>
<br>
<span class="normal">Please find our portfolio attached</span>
<br>
<br>
<!--calypso>include "NotificationSign.html";</calypso-->

</body>
</html>