<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body style="font-family: arial; font-size: 9pt; width: 750;">

Please find attached a Portfolio Breakdown from |SENDER_FULL_NAME|<br><br>
<span class="normal">

	<table width="750px" border="0" cellpadding="0" cellspacing="0">
		<tbody style="font-family: arial; font-size: 9pt;">
			<tr style="line-height: 11pt;">
				<td style="width: 45px;"><b>To:</b>
				</td>
				<td style="width: 330px;">|RECEIVER_CONTACT_NAME|</td>
				<td style="width: 45px;"><b>From:</b>
				</td>
				<td>|SENDER_CONTACT_NAME|</td>
			</tr>
			<tr style="line-height: 11pt;">
				<td colspan="2"><b>Company:</b> |RECEIVER_FULL_NAME|</td>
				<td colspan="2"><b>Company:</b> |SENDER_FULL_NAME|</td>
			</tr>
			<tr style="line-height: 11pt;">
				<td><b>Phone:</b>
				</td>
				<td>|RECEIVER_PHONE|</td>
				<td><b>Phone:</b>
				</td>
				<td>|SENDER_PHONE|</td>
			</tr>
			<tr style="line-height: 11pt;">
				<td><b>Fax:</b>
				</td>
				<td>|RECEIVER_FAX|</td>

				<td><b>Fax:</b>
				</td>
				<td>|SENDER_FAX|</td>
			</tr>
			<tr style="line-height: 11pt;">
				<td><b>E-Mail:</b>
				</td>
				<td style="width: 330px;">|RECEIVER_EMAIL|</td>

				<td><b>E-Mail:</b>
				</td>
				<td>|NOTIF_FROM_EMAIL|</td>
			</tr>
		</tbody>
	</table>
<br><br>
Dear Counterparty,<br> <br> 
In accordance with Article 11(1)(b) of Regulation (EU) No 648/2012 ("EMIR"),  Article 13 of the Commission Delegated Regulation (EU) No 149/2013 and the agreement that |SENDER_FULL_NAME| has reached with you to perform portfolio reconciliations with the frequencies established thereto, please find attached the key trade terms which identify  the transactions closed with you and subject to portfolio reconciliation, valued as of the previous business day by COB.<br> <br>
As we agreed on a bilateral portfolio reconciliation, we would appreciate it if you could please also send us the key trade terms of  these transactions, valued as of the same business day and time, in order to have them reconciled as soon as possible.<br> <br>
For any further queries or assistance please do not hesitate to contact us.<br> <br>
Regards,<br>
|SENDER_FULL_NAME|<br> <br>			
* * * * * * * * * * * * * * * * * * * * * *<br> <br> 			
Querido Cliente,<br> <br>  
De acuerdo al Art&iacute;culo 11(1)(b) de la Regulation (EU) No 648/2012 ("EMIR"),  Art&iacute;culo 13 de la Commission Delegated Regulation (EU) No 149/2013 y al acuerdo que desde |SENDER_FULL_NAME| llegamos con ustedes para realizar la reconciliaci&oacute;n de portfolio con las frecuencias establecidas, por favor encontrad adjunto los principales t&eacute;rminos econ&oacute;micos que identifican las operaciones que tenemos cerradas con ustedes y que est&aacute;n sujetas a reconciliaci&oacute;n, valoradas al cierre del anterior d&iacute;a laborable.<br> <br> 
Tal y como acordamos en la reconciliaci&oacute;n bilateral , podr&iacute;an por favor enviarnos su portfolio con los principales datos econ&oacute;micos de cada operaci&oacute;n y la valoraci&oacute;n al mismo d&iacute;a laborable?, as&iacute; podremos tener los portfolios reconciliados cuanto antes.<br> <br>  
Para cualquier pregunta o comentario, no duden en ponerse en contacto con nosotros.<br> <br> 
Un saludo,<br>
|SENDER_FULL_NAME|<br> <br>	
Portfolio Reconciliation Team - Collateral Management<br>
Group E-mail address: portrec@gruposantander.com<br>
Telephone Number: 0034 912572038<br>	
</span>
</body>
</html>