<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <STYLE type="text/css">
        div.date {font-family: "Times New Roman", Times, serif;
	              font-size: 12pt;
	              text-align: right;
                  margin-right: 15%;}

        div.logo {text-align: left;
                  margin-left: 6%;}

        div.argument {font-family: "Times New Roman", Times, serif;font-size: 12pt;word-wrap: break-word;word-break: break-word;margin-left: 10%;margin-right: 10%;}
    </STYLE>
</head>
<body>
<br><br>
<br>
<div class="date">|DATE|</div>
<div class="logo">|LOGO|</div>
<br><br>
<div class="argument">Dear Sir or Madam:<br><br>
    Commodity Futures Trading Commission (&quot;CFTC&quot;) rule 23.704 requires that we
    report quarterly to a counterparty that has not elected to require segregation in accordance with CFTC rules 23.702
    and 23.703 of &quot;Initial Margin&quot; (as defined in CFTC rule 23.700) posted in respect of any swap (as defined
    by CFTC rules)
    between us and such counterparty that is not submitted for clearing.<br><br>
    To the extent that your firm is covered by CFTC rule 23.704, we are hereby reporting to you that, during the
    previous
    calendar quarter, our back office procedures relating to margin and collateral requirements were in compliance with
    any governing uncleared swap agreement then in effect.<br><br>
    You are not required to take any action in connection with this communication. This communication does not change
    any
    terms of any uncleared swap agreement between us. To the extent that such uncleared swap agreement is
    uncollateralized,
    the substance of this communication may not be relevant to you.<br><br><br>

    Banco Santander S.A.
</div>

</body>
</html>