<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
<link rel="stylesheet" href="marginCallNotif.css"
	type="text/css" media="screen,print">
</head>
<body style="width: 750;">
	<!--calypso>include "footer.htm";</calypso-->
<table class="small" style="width: 100%"  style="margin-top: 25px">
<tr><td><div class="header">
	|LOGO|<br><span class="tiny">|DATE|</span></td>
<td><span class="normal" style="margin-top: 25px">|SENDER_FULL_NAME|
<br>|CONTRACT_DESCRIPTION| Collateral Management
<br>Email: |SENDER_EMAIL|
<br>|SENDER_ADDRESS|
<br>Tel: |SENDER_PHONE|
</span></td>
</tr>
</div>	
</table>

<br>
<br>
	<div class="title">
		<b><u>Counterparty Details</u></b>
	</div>
	<br>
	<table class="small" style="width: 100%">
		<tr>
			<td style="text-align: left;"><span class="small"><b>Counterparty Name</b>
			</span></td>
			<td style="text-align: left;"><span class="small">|RECEIVER_FULL_NAME|</span>
			</td>
		</tr>
		<tr>
			<td style="text-align: left;"><span class="small"><b>Contact Name</b>
			</span></td>
			<td style="text-align: left;"><span class="small">|RECEIVER_CONTACT_NAME|</span>
			</td>
		</tr>
		<tr>
			<td style="text-align: left;"><span class="small"><b>Contact Number</b>
			</span></td>
			<td style="text-align: left;"><span class="small">|RECEIVER_PHONE|</span>
			</td>
		</tr>
		<tr>
			<td style="text-align: left;"><span class="small"><b>Contact Fax</b>
			</span></td>
			<td style="text-align: left;"><span class="small">|RECEIVER_FAX|</span>
			</td>
		</tr>
	</table>
	<br>
	<br>
	<div class="title">
		<b><u>Proposed Movements</u></b>
	</div>
	<br>
	|ALLOCATIONS_PROPOSAL|
	<br>
	<br>
	<p>
	<span class="normal">Please confirm your agreement to this collateral proposal and that you are booked to receive, by responding directly to this email.</span>
	</p>
</body>
</html>
