<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
    <link rel="stylesheet" href="marginCallNotif.css"
          type="text/css" media="screen,print">
</head>
<body style="width: 750;">

<span class="normal">Hi all,<br><br>

Could you please match the below trade as soon as possible.</span>

<br><br>

<table class="noBorderTableSmaller">
    <tr>
        <td><b>Counterparty:</b></td>
        <td>|RECEIVER_FULL_NAME|</td>
    </tr>
    <tr>
        <td><b>Type:</b></td>
        <td>|PRODUCT_TYPE|</td>
    </tr>
    <tr>
        <td><b>Product Type:</b></td>
        <td>|UNDERLYING_TYPE|</td>
    </tr>
    <tr>
        <td><b>ISIN:</b></td>
        <td>|ISIN|</td>
    </tr>
    <tr>
        <td><b>Nominal:</b></td>
        <td>|TRADE_NOMINAL|</td>
    </tr>
    <tr>
        <td><b>Trade Date:</b></td>
        <td>|TRADE_DATE|</td>
    </tr>
    <tr>
        <td><b>Value Date:</b></td>
        <td>|TRANSFER_SETTLEDATE|</td>
    </tr>
    <tr>
        <td><b>From:</b></td>
        <td>|DELIVERER_NAME|</td>
    </tr>
    <tr>
        <td><b>To:</b></td>
        <td>|RECEIVER_NAME|</td>
    </tr>
    <tr>
        <td><b>Cash:</b></td>
        <td>|TRANSFER_OTHERAMOUNT|</td>
    </tr>

</table>

<br><br>

<!--calypso>include "NotificationSign.html";</calypso-->


</body>
</html>