<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="marginCallNotif.css"
          type="text/css" media="screen,print">
</head>
<body style="width: 750;">

<span class="normal">Please Match the below IM trade as soon as possible.</span>

<br><br>

<table class="noBorderTableSmaller">
    <tr>
        <td><b>Counterparty:</b></td>
        <td>|RECEIVER_FULL_NAME|</td>
    </tr>
    <tr>
        <td><b>Previous RQV:</b></td>
        <td>|PREVIOUS_RQV|</td>
    </tr>
    <tr>
        <td><b>Movement Agreed:</b></td>
        <td>|AGREED_AMOUNT|</td>
    </tr>
    <tr>
        <td><b>Agent:</b></td>
        <td>|MCC_TRIPARTY_AGENT|</td>
    </tr>
    <tr>
        <td>---</td>
        <td></td>
    </tr>
    <tr>
        <td><b>New RQV:</b></td>
        <td>|REQUIRED_VALUE|</td>
    </tr>
</table>

<br><br>

<!--calypso>include "NotificationSign.html";</calypso-->


</body>
</html>